01-sistemas-computacionais-e-elementos-de-hardware/*
02-gerenciamento-de-projetos/*
03-modelagem-de-dados/*
04-seguranca-publica/*
05-planejamento-estrategico-em-seguranca/*
07-desenvolvimento-web/*
08-sistemas-de-informacao-em-seguranca/*
09-redes-e-sistemas-distribuidos/*